{
    "metrics": [
        {
            "name": "my_metric",
            "description": "This is my exported metric",
            "type": "counter",
            "matching": "my_data:{endpoint}"
        }
    ]
}